@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FCF6F5FF;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
}

a {
    text-decoration: none;
}

.container {
    width: min(90vw, 800px);
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .title {
    text-align: center;
    margin: 40px 0px;
}

main .title h1 {
    font-size: 24px;
    font-weight: bold;
    padding-top: 20px;
}

main textarea {
    resize: none;
    border: #3f3a30 2px solid;
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
    padding: 4px;
}

main #config-text {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    max-width: 100%;
    height: auto;
    float: left;
}

main textarea:focus {
    border: #2BAE66FF 2px solid;
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

main .btn {
    background-color: #80B636;
    border: none;
    color: white;
    padding: 18px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
    margin: 40px 0px;
}

main .btn:hover {
    background-color: #3e8e41;
}

footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}

footer .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px rgba(0, 0, 0, 0.19) solid;
    padding: 12px;
    opacity: 0.8;
}

footer .text-footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .text-footer span {
    margin-left: .5rem;
}

foorter .fab {
    color: black;
}